*{
    box-sizing: border-box;
}
body{
    background-color: #eee;
    margin:0 auto;
    padding: 0;
}
.link{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
    padding: 1em;
}
.link a{
    text-decoration: none;
    font-size: large;
}
#main{
    display: block;
    padding:2em;
    width: 100%;
    background-color: #eee;
}
main h1{
    
    width: 100%;
    text-align: center;
}
#img-div{
    background-color: white;
    padding:1em;
    max-width:1650px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 2px;
    box-shadow:0 0 4px 5px rgb(231, 222, 222),
                0 0 2px 4px rgb(231, 222, 222) inset;
}
#img-div img{
    max-width: 100%;
}
#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tribute-info ul{
    list-style: none;
    max-width:1000px;
    font-size: 1.2em;
    line-height: 3em;
    padding-left: 0;
}
#tribute-info ul li{
    font-weight:  bold;
    padding-left: 0;
}

footer{
    
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    height: 100px;
    flex-wrap: wrap;
}
footer div a{
    text-decoration: none;
    font-size: larger;
    color: black;
  
    padding: 1em;
    cursor: pointer;
}