body,html{
    margin:0;
}
header{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 0 2em;
    position: sticky;
    top:0;
    left: 0;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.logo{
    display: flex;
    gap: 1em;
}
header ul{
    display: flex;
    list-style:none;
    gap:2em;
    margin-left: auto;
    align-items: center;
    font-size: larger;
}
#content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0;
}
.video{
    width: 100%;
    display: flex;
    justify-content: center;
}
#video{
    margin:0 auto;
    max-width: 600px;
    width: 100%;
}
#form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 2em 0;
    
}
#form input{
    font-size: larger;
}
#submit{
    max-width:150px;
    align-self: center;
    margin-top: 1em;
}
footer{
    
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    height: 100px;
    flex-wrap: wrap;
}
footer div a{
    text-decoration: none;
    font-size: larger;
    color: black;
  
    padding: 1em;
    cursor: pointer;
}
@media screen and (max-width:40em) {
    header{
        flex-wrap: wrap;
    }
    header ul{
        flex-wrap: wrap;
        padding-left: 0;
    }
}