body{
    margin:0;
    width: 100%;
    background: radial-gradient(grey   ,aquamarine);
}
.container{
    
    margin:0 ;
    /* text-align: center; */
    padding: 0;
    width: 100%;
}
.container header{
    text-align: center;
}
#survey-form{
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    max-width:600px;
    flex-direction: column;
    gap:1em;
    padding: 3em;
    box-sizing: border-box;
    font-size: larger;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap:.5em;
}
input.form-control{
    font-size: 1em;
    border-radius: 4px;
}
select{
    font-size: 1em;
}
#comments{
    height:100px;
    font-size: 1em;
}
#submit{
    font-size: 1em;
    padding: 5px;
    background-color: gray;
    color: aquamarine;
}

footer{
    margin-top: 1em;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    height: 100px;
    flex-wrap: wrap;
}
footer div a{
    text-decoration: none;
    font-size: larger;
    color: black;
  
    padding: 1em;
    cursor: pointer;
}